.profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1.6rem;
}

.profile__image {
    width: 100%;
}

.profile__name {
    align-self: center;
    justify-self: center;
}

.profile__aboutme {
    margin-bottom: 2rem;
}
.profile__aboutme h3 {
    font-size: 2rem;
}

.profile__aboutme-head {
    margin-bottom: 1.4rem;
}

.profile__aboutme p {
    text-align: center;
    line-height: 1.8rem;
}

/* Switcher */

.profile__settings h3 {
    font-size: 2rem;
}

.profile__settings hr {
    margin-bottom: 2.4rem;
}

.profile__switcher {
    display: flex;
    justify-content: space-between;
}

.profile__switcher span {
    font-size: 2rem;
}

.profile__switcher span {
    align-self: center;
}

.theme__switcher {
    background-color: var(--bg-switcher);
    border-radius: 5rem;
    display: flex;
    align-items: center;
    gap: 2.4rem;
    cursor: pointer;
    padding: 0.4rem;
    position: relative;
}

.theme__switcher::before {
    content: '';
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--switch-active-bg);
    border-radius: 5rem;
    z-index: 0;
    left: 0;
    transform: translateX(var(--switch-circle-pos));
    transition: transform 0.3s ease-in-out;
}
.theme__switcher svg {
    z-index: 1;
}

.icon__sun {
    width: 3.2rem;
    stroke: black;
}
.icon__moon {
    width: 3.2rem;
    stroke: black;
}

/* Counter */

.profile__counter {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}
